<div class="col-md-4 card-container normal-card">

  <!-- User Image and Username -->
  <div class="row no-margin">
    <div class="col-md-4">
      <img  class="" src="<%= current_user.gravatar_url %>" alt="" />
    </div>
    <div class="col-md-8"><h3><%= current_user.username %></h3></div>
  </div>

  <!-- User Item Count and User Borrower Count -->

  <div class="row info-subhead">

    <div class="col-md-6">

      <h4>Items</h4>

      <div class="row">
        <div class="col-md-12">
          <%= current_user.items.count %>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <h4>Loans</h4>

      <div class="row">
        <div class="col-md-12">
          <%= current_user.loans.count %>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="sub-menu">
        <li>View Borrowers</li>
        <li>View Items</li>
        <li>View Loans</li>
      </ul>
    </div>

  </div>

</div>