<% content_for :title do %>About<% end %>

<div class="container">
  <h3>About WhoBorrowed</h3>

<p>WhoBorrowed was created by me, <%= link_to("Iheanyi Ekechukwu", "http://iheanyi.com") %>, as a project/experiment to learn the Ruby on Rails web framework, along with dabbling with new technologies. Feel free to <%= link_to("reach out", "mailto:hello@iheanyi.com") %> to me with any questions, I'd love to hear your thoughts on the application ofeature requests. Thanks for visiting and using my application, I appreciate it greatly!!</p>


</div>
