<h1>Create New Loan Form here</h1>
<h3>Parameters for Loan Form (nested forms)</h3>
<ul>
  <li>New/Existing Item Form, should have item name, specify a picture to upload</li>
  <li>New/Existing Borrower Form, borrower name (autocomplete with Facebook friends name and the likes)</li>
  <li>Date of Loan (add a checkbox for unknown)</li>
  <li>Requested Return Date (add a checkbox for indeterminate/whenever)</li>
  <li>If there is a requested return date, then show a checkbox for an e-mail reminder.</li>
  <li>No requested return date? Then the checkbox should state, "E-mail me in N [days, weeks,months] from [today, loan date]</li>
  <li>And Submit Button</li>
</ul>