@import "framework_and_overrides";

// Inventory
.inventory-items {
  list-style: none;
  padding: 0;
  padding-top: 20px;
}

.inventory-card {
  margin-top: 20px;
  background: #fff;
  padding: 16px;
}