@import "framework_and_overrides";


$base-color: #34495e;

body, html {
  height: 100%;
  min-height: 100%;
}
// Inventory
.inventory-items {
  list-style: none;
  padding: 0;
  padding-top: 20px;
}

.inventory-card {
  margin-top: 20px;
  background: #fff;
  padding: 16px;
}

.card-container {
  //margin-top: 40px;
  background: #fff;
  //padding-left: 24px;
  padding-right: 24px;
  height: auto;
  border-radius: 4px;
}

.push-down {
  margin-top: 40px;
}

.inventory-header {
  background: $base-color;
  height: 100%;
  //padding-top: 24px;
  border-radius: 4px 4px 0 0;
  vertical-align: middle;
  line-height: 40px;
  padding: 20px;
}

.inv-header-container {
  vertical-align: middle;
  line-height: 40px;
}
.info-subhead {
  margin-top: 8px;
  text-align: center;
}

.normal-card {
  padding: 24px;
}

.white-header {
  color: #fff;
}

main {
  height: 100%;
}

no-margin {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.item-unit {
  border-bottom: 1px solid #a5a5a5;

}