<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>



<% if current_user %>
  <li><%= link_to current_user.username, "#" %>
<% else %>
  <li class="pull-right"><%= link_to 'Register', register_path %></li>
  <li class="pull-right"><%= link_to "Login", login_path %></li>
<% end %>
